{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"root": true,
	"parser": "@babel/eslint-parser",
	"parserOptions": { "requireConfigFile": false },
	"ignorePatterns": [
		"vendor",
		"webpack.config.js",
		"dist/**/*"
	],
	"rules": {
		"no-console": "error",
		"no-new": 0,
		"import/export": 0,
		"camelcase": [
			"error",
			{
				"properties": "always"
			}
		],
		"quotes": [
			"error",
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"quote-props": [
			"error",
			"consistent-as-needed"
		],
		"indent": ["error", "tab"]
	}
}
